@model MvcMovie.Models.TinhDiem
<form asp-action="Index">
    <input asp-for="@Model.FullName">
    <input asp-for="@Model.DiemA">
    <input asp-for="@Model.DiemB">
    <input asp-for="@Model.DiemC">
    <input type="submit">
</form>
<h1>@ViewBag.Message</h1> 